@import '../node_modules/normalize.css/normalize.css';
@import './style/padding-margins';
@import './style/buttons';
@import './style/theme';

html {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: $content-colour;
  color: $content-text-colour;
}