@import '../node_modules/normalize.css/normalize.css';
@import './style/fonts';
@import './style/spacings';
@import './style/buttons';
@import './style/theme';

@import './assets/font-awesome/scss/fontawesome';
@import './assets/font-awesome/scss/solid';

html {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: $content-colour;
  color: $content-text-colour;
}
h1, h2, h3, h4, h5 {
  font-family: Montserrat_Thin, Helvetica, Arial, sans-serif;
}

.primary-background {
  background-color: $primary-colour;
}
.primary-lighten-1-background {
  background-color: $primary-90-colour;
}
.primary-lighten-2-background {
  background-color: $primary-80-colour;
}

.text-container {
  padding-left: $standard-x;
  padding-right: $standard-x;
}

.button-container {
  margin-bottom: $standard-y;
}