<app-section-content-container>
  <h1>Landing page is current used for style and layout checks</h1>
  <button type="button">Just a button</button>
  <button type="button" class="info">Info button</button>
  <button type="button" class="success">Success button</button>
  <button type="button" class="warning">Warning button</button>
  <button type="button" class="danger">Danger button</button>
  <button type="button" class="error">Error button</button>
</app-section-content-container>
<app-section-container>
  <app-card headerText="Hello Cardy McCardface" footerText="Footy McFootface">
    <div class="card-body">
      <h4>Something in the body</h4>
      <p>Some more content in the body, which is nice.</p>
    </div>
  </app-card>
  <span style="font-size: 48px; color: darkred;">
    <i class="fas fa-swimmer"></i>
    <i class="fas fa-swimmer"></i>
    <i class="fas fa-stroopwafel fa-spin"></i>
  </span>
</app-section-container>
